<div class="center" style="background-color: white;">
    <h2>Welcome to the Pokemon cataloge</h2>

    <h4>Please insert your trainer name</h4>
    
    <input type="text" name="trainerName" id="trainerName" [value]="trainerName" (change)="changedName($event)"> <button (click)="submitName()">Submit</button>
</div>