<div class="content">
    <h1 id="page-name">Pokemon info</h1>
    <!-- Buttons for catching a pokemon and to navigate back one page -->
    <div id="buttons">
        <button class="button" (click)="catchPokemon()">Catch</button>
        <button class="button" (click)="GoBackOnePage()">Go Back</button>
    </div>

    <!-- Table for showing the pokemon card -->
    <div>
        <!-- The background color of the table is based on the type -->
        <table id="outer-table" [style.background]="setTableBackgroundColor(pokemon.types[0].type.name)">
            <tbody>
                <!-- Each table row also has a color that are lighter than the background color -->
                <tr [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2">
                        <!-- On the top of the card, the name and id is displayed -->
                        <table style="width: 100%;" class="header">
                            <tbody>
                                <tr>
                                    <td style="width: 75%;">
                                        <b id="display-pokemon-name">
                                            {{pokemon.name}}
                                        </b>
                                    </td>
                                    <th style="width: 25%;">
                                        #{{pokemon.id}}
                                    </th>
                                </tr>
                                <tr>
                                    <!-- The pokemon image -->
                                    <td colspan="2">
                                        <table style="width: 100%; text-align: center;" class="piqture">
                                            <tbody>
                                                <tr>
                                                    <img ng-if="pokemon.sprites" [src]="pokemon.sprites.front_default"
                                                        style="width: 50%;">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- Pokemon Types -->
                <tr class="center-row" [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2">
                        <b>Type</b>
                        <table style="width: 100%; border-radius: 25%;">
                            <tbody>
                                <tr>
                                    <!-- Aince there can be more than one type the backgound color is based on the pokemon type-->
                                    <td class="center-col" *ngFor="let type of pokemon.types"
                                        [style.background]="setTableBackgroundColor(type.type.name)"
                                        [style.width]="pokemon.abilities.length == 1 ? '100%' : '50%'">
                                        {{type.type.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Abilities -->
                <tr class="center-row" [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2">
                        <b>Abilities</b>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <!-- Set the width of the col based on the number of abilities the pokemon have -->
                                    <td class="center-col" *ngFor="let ability of pokemon.abilities"
                                        [style.width]="pokemon.abilities.length == 2 ? '50%' : '33%'">
                                        {{ability.ability.name}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- The pokemon height and weight -->
                <tr [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="1" class="height">
                        <table style="width: 100%;">
                            <tbody>
                                <tr class="center-row">
                                    <b>Height</b>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td class="center-class" class="center-col">{{pokemon.height}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                    </td>


                    <td colspan="1" class="weight">
                        <table style="width: 100%;">
                            <tbody>
                                <tr class="center-row">
                                    <b>Weight</b>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td class="center-col">{{pokemon.weight}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- Base experience -->
                <tr [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2" class="base-experience">
                        <table style="width: 100%;">
                            <tbody>
                                <tr class="center-row">
                                    <b>Base Experience</b>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td class="center-col">
                                                    {{pokemon.base_experience}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                
                <!-- 6 different pokemon base stats -->
                <tr class="center-row" [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2" class="base-stats">
                        <table style="width: 100%;">
                            <tbody>
                                <b>Base Stats</b>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td *ngFor="let stat of pokemon.stats" style="width: 16%;">
                                                {{stat.base_stat}}
                                                <br>
                                                {{changeDisplayedBaseStatName(stat.stat.name)}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- Moves, only displayed when the button is pressed -->
                <tr class="center-row" [style.background]="setRowBackgroundColor(pokemon.types[0].type.name)">
                    <td colspan="2">
                        <table style="width: 100%;">
                            <tbody>
                                <b>Moves</b>
                                <tr>
                                    
                                    <button id="moves-btn" (click)="showMoves()" id="moves-btn">Show</button>
                                    
                                    <!-- Hides the moves as it is a large list -->
                                    <table style="width: 100%;">
                                        <tbody style="display: none;" id="moves">
                                            <tr *ngFor="let move of pokemon.moves">
                                                {{move.move.name}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>