#page-name {
    text-align: center;
}

#moves-btn {
    width: 100%;
    background-color: red;
    border: 2px black solid;
    border-radius: 25px;
}

#buttons {
    text-align: center;
}

.center-row {
    text-align: center;
    border-radius: 25%;
}

.center-col {
    text-align: center;
}

#height {
    text-align: center;
}

#display-pokemon-name {
    text-transform: capitalize;
}

#outer-table {
    text-transform: capitalize;
    border-collapse:separate;
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
    width: 33%;
    max-width: 420px;
    background: #78C850;
    border: 2px solid #682A68;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}
#outer-table th {
    border-top: none;
}

#outer-table td:first-child, th:first-child {
     border-left: none;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.button {
    background-color: red;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 25%;
  }
h1 {
    color: red;
}