
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: red;">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand">
        <img style="height: 40px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="">    
        </a>

      <!-- Navigation properties-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" id="link" href="/pokemon-list">All Pokemons</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="link" href="/trainer-page">My Pokemons</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="link" href="/loading-page">Edit Name</a>
          </li>
        </ul>
      </div>
    </div>
</nav>