<h1 id="page-name">Pokemons</h1>

<br>

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The Search Form -->
<form class="search">
  <input type="text" id="searchName" name="searchName" placeholder="Search.." >
  <button type="button"  (click)="searchForPokemons()"><i class="fa fa-search"></i></button>
</form>

<br>

<table id="pokemon-list-table">
  <tr>
    <th>Id</th>
    <th colspan="2">Name</th>
    <th colspan="3">Picture</th>
    <th colspan="2">Type</th>
  </tr>
  <!-- Loops over the pokemon list and adds the data to the table -->
  <tr *ngFor="let pokemon of pokemonList" [routerLink]="['../pokemon-info', pokemon.id]">
    <td>{{ pokemon.id }}</td>
    <td colspan="2">{{ pokemon.name}}</td>
    <td colspan="3">
      <img src="{{ pokemon.sprite}}" >
    </td>
    <td *ngFor="let type of pokemon.types" [colSpan]="pokemon.types.length == 1 ? 2 : 1" id="pokemon-types" [style.background]="setTdBackgroundColor(type.type.name)" >
      {{type.type.name}}
    </td>
  </tr>
</table>
<!-- buttons to navigate between the pokemon pages -->
<div class="button-group">
  <button id="button-routing" (click)="loadNextList('Previous')">
    Previous
  </button>
  <button id="button-routing" (click)="loadNextList('Next')">
    Next
  </button>
</div>

<router-outlet></router-outlet>