#page-name {
    text-align: center;
}

table {
    background-color: #fff;
    border-collapse:separate;
    border:solid black 4px;
    border-radius:6px;
    -moz-border-radius:6px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize
}

td, th {
    border-left:solid black 2px;
    border-top:solid black 2px;
}

th {
    background-color: #35e935;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

#pokemon-types{
    color:#fff;
}

.button-group {
    text-align: center;
}

h1{
    color: red;
}

.search {
    text-align: center;
}

#button-routing {
    background-color: red;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 25%;
  }