#page-name {
    text-align: center;
}

table {
    border-collapse:separate;
    background-color: #fff;
    border:solid black 4px;
    border-radius:6px;
    -moz-border-radius:6px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border-left:solid black 2px;
    border-top:solid black 2px;
}

th {
    background-color: #35e935;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

#pokemon-types{
    color:#fff;
}

//the header should be red
h1 {
    color: red;
}