<H1 id="page-name">My pokemons</H1>

<table id="pokemon-list-table">
    <tr>
      <th>Id</th>
      <th colspan="2">Name</th>
      <th colspan="3">Picture</th>
      <th colspan="2">Type</th>
    </tr>
    <!-- Loops over the pokemon list and adds the data to the table -->
    <tr *ngFor="let pokemon of pokemonList" [routerLink]="['../pokemon-info', pokemon.id]">
      <td>{{ pokemon.id }}</td>
      <td colspan="2">{{ pokemon.name}}</td>
      <td colspan="3">
        <img src="{{ pokemon.sprite}}" >
      </td>
      <td *ngFor="let type of pokemon.types" [colSpan]="pokemon.types.length == 1 ? 2 : 1" id="pokemon-types" [style.background]="setTdBackgroundColor(type.type.name)" >
        {{type.type.name}}
      </td>
    </tr>
  </table>
